body{
    padding: 15%;
    background-color: #f4f9f9;
    overflow-y: hidden;
    overflow-x: hidden
}

#status {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
#upload-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}